{{#each erros}}
    <div class="erro">{{texto}}</div>
{{else}}

{{/each}}

<h3 class="tit_h3">Editar Usuário</h3>
<form action="/admin/usuarios/edit" method="post" class="form-fornecedor">
    <input type="hidden" name="id" value="{{usuario._id}}">
    <label for="nome" class="form-label">Nome: </label>
    <input type="text" name="nome" id="nome" placeholder="Nome" value="{{usuario.nome}}">
    <label for="senha" class="form-label">Senha: </label>
    <input type="password" name="senha" id="senha" placeholder="Nova Senha">
    <label for="senha2" class="form-label">Senha Novamente: </label>
    <input type="password" name="senha2" id="senha2" placeholder="Nova Senha Novamente">
    <button type="submit" class="botao">Editar Usuário</button>
</form>