<div class="logo logo_dash">
    <img src="/imgs/logo.jpeg" alt="Logo Rei do Cangaço">
    <div class="face">
        <span class="face_img"></span>
        <span class="face_span">Administrador {{usuario}}</span>
    </div>
</div>
<div class="dashboard">
    <a href="/admin/fornecedor"><input type="button" value="Fornecedor" class="menu"></a>
    <a href="/admin/produto"><input type="button" value="Produtos" class="menu"></a>
    <input type="button" value="Vendas (m)" class="menu-cinza">
    <input type="button" value="Relatório (m)" class="menu-cinza">
    <a href="/admin/usuarios"><input type="button" value="Produtos" class="menu"></a>
    <a href="/logout"><input type="button" value="Sair" class="menu"></a>
</div>
