<a href="/admin/fornecedor"><input type="button" value="Fornecedor" class="menu"></a>
<a href="/admin/produto"><input type="button" value="Produtos" class="menu"></a>
<input type="button" value="Vendas (em manuntencao)" class="menu-cinza">
<input type="button" value="Usuario (em manuntencao)" class="menu-cinza">