<div class="logo logo_dash">
    <img src="/imgs/cang-vetor.svg" alt="Logo Rei do Cangaço">
    <div class="face">
        <div class="face_img"><img src="/imgs/avatar.png" class="avatar" alt="avatar img"></div>
        <span class="face_span">{{usuario}}</span>
    </div>
</div>
<div class="dashboard">
    <a href="/admin/fornecedor"><input type="button" value="Fornecedor" class="menu"></a>
    <a href="/admin/produto"><input type="button" value="Produtos" class="menu"></a>
    <a href="/admin/vendas"><input type="button" value="Vendas" class="menu"></a>
    <a href="/logout"><input type="button" value="Sair" class="menu"></a>
</div>
