<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    {{#if error}}
        <div class="erro">{{error}}</div>
    {{else}}

    {{/if}}
    {{>_msg}}
    {{{body}}}
</body>
</html>