extends layout

block content
  form(method='get',action='/cep')
      label(for='cep') Digite o CEP:
      input(type='text',name='cep',class='cep')        
      input(type='submit',name='submit',class='submit',value='Procurar').submit-button
