<h2>Login</h2>
<form class="form" action="/login" method="post">
    <input type="email" name="email" class="form-input" placeholder="Email" required>
    <input type="password" name="senha" class="form-input" placeholder="Senha" required>
    <button class="form-submit" type="submit">ENTRAR!</button>
</form>