<div class="logo">
    <img src="/imgs/gif-cangaco.gif" alt="Logo Rei do Cangaço">
</div>
<div class="login">
    <form class="form" action="/login" method="post">
        <label class="form-label" for="email">Vídeo Demonstrativo:</label>
        <video width="600" height="400" controls class="video">
            <source src="/video/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </form>
</div>
