.botao {
    padding: 10px;
    background: green;
    color: white;
    border: 0;
    border-radius: 10px;
}

.error {
    padding: 10px;
    background: red;
    color: white;
    border: 0;
    border-radius: 10px;
}

.form-fornecedor {
    margin: 20px auto;
    border: 2px solid grey;
}

.form-fornecedor > * {
    display: block;
    margin: 20px;
}

.erro {
    background: red;
    margin-bottom: 10px;
    padding: 15px;
    color: white;
    border-radius: 2px;;
}

.sucess {
    background: green;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    border-radius: 2px;;
}

.campo_obj {
    flex: 1 400px;
    display: flex;
    justify-content: space-between;
    border: 5px solid #994c00;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px;
}

.campo_obj h3 {
    font-size: 20px;
    color: #994c00;
    font-weight: 700;
}

.tit_h3 {
    font-size: 50px;
    color: #994c00;
    font-weight: 700;
}

.btn_tam {
    cursor: pointer;
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
    width: 100px;
}

.face {
    margin-right: 40px;
    min-width: 130px;
    height: 200px;
}

.face_img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 3px solid #994c00;
}

.face_span {
    color: #994c00;
    font-size: 20px;
    font-weight: 700;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #994c00;
    margin-bottom: 5px;
}

.logo_dash {
    justify-content: space-between;
}

.logo img {
    max-height: 300px;
}

.login {
    border-top: 5px dotted #994c00;
}

.nome_novo {
    text-align: right;
    margin-right: 40px;
    min-width: 130px;
    height: 150px;
}

.nome_novo span{
    display: block;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 800;
    color: #994c00;
}

.botao_nome_novo {
    cursor: pointer;
    font-size: 20px;
    height: 80px;
    width: 130px;
}

.form {
    max-width: 300px;
    margin: 100px auto;
}

.form-label {
    color: #994c00;
    font-size: 20px;
    font-weight: 700;
}

.form-input {
    border: 4px solid #994c00;
    border-radius: 10px;
    outline: none;
    padding: 7px;
    margin: 10px 0;
    width: 100%;
}

.form-input:nth-of-type(1) {
    margin-bottom: 30px;
}

.form-submit {
    outline: none;
    background: #994c00;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.dashboard {
    border-top: 5px dotted #994c00;
    padding: 20px 0;
    display: flex;
    flex: 1 50px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}


.menu, .menu-cinza {
    padding: 20px;
    background: #994c00;
    color: white;
    width: 150px;
    height: 150px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
}

.menu-cinza {
    background: gray;
    cursor: inherit;
}

/*
.form-input, .form-submit {
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    color: gray;
    transition: .5s all;
}

.form-input:hover, .form-submit:hover {
    background: gray;
    color: white;
}

.form-input {
    border-bottom: 0;
}

.form-submit {
    cursor: pointer;
}
*/