<h1>Painel de Usuario</h1>
<a href="/usuarios/fornecedor"><input type="button" value="Fornecedor" class="menu"></a>
<a href="/usuarios/produto"><input type="button" value="Produtos" class="menu"></a>
<input type="button" value="Vendas (em manuntencao)" class="menu-cinza">
<a href="/logout"><input type="button" value="Sair" class="menu"></a>