{{#each erros}}
    <div class="erro">{{texto}}</div>
{{else}}

{{/each}}
<h2>Cadastro</h2>
<form class="form" action="" method="post">
    <input type="text" name="nome" class="form-input" placeholder="Nome" required>
    <input type="email" name="email" class="form-input" placeholder="Email" required>
    <input type="password" name="senha" class="form-input" placeholder="Senha" required>
    <input type="password" name="senha2" class="form-input" placeholder="Senha Novamente" required>
    <button class="form-submit" type="submit">CADASTRAR</button>
</form>